#act-hub-extension-root, #act-hub-modal-root * {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
}

#act-hub-modal-root input[type="text"] {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
        Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}


#act-hub-modal-root ul {
    padding: 0;
    margin: 0;
} 

.font-size-medium {
    font-size: 16px !important;
}

.line-height-medium {
    line-height: 20px;
}

.font-weight-medium {
    font-weight: 400;
}

.shade-087 {
    color: #222 !important;
}

.shade-100 {
    color: #fff
}

.shade-primary {
    color: #1a73e8
}
 
.background-shade-003 {
    background: #f7f7f7;
}

.background-primary {
    background: #1a73e8;
}

.background-selected {
    background: rgba(66,133,244,0.12);
}

.background-hover-shade-003:hover {
    background: #f7f7f7;
}

.background-hover-shade-006:hover {
    background: #f0f0f0;
}

.background-none {
    background: none !important;
}

.border-selected {
    border: 1px solid #d2e3fc;
}

.border-color-shade-013 {
    border-color: #dddddd;
}

.padding-horizontal-larger {
    padding-left: 24px;
    padding-right: 24px;
}

.padding-left-small {
    padding-left: 12px;
}

.padding-left-smaller {
    padding-left: 8px;
}

.padding-right-medium {
    padding-right: 16px;
}

.padding-right-tiny {
    padding-right: 4px;
}

.padding-top-smaller {
    padding-top: 8px;
}

.padding-top-020 {
    padding-top: 20vh;
}

.padding-bottom-smaller {
    padding-bottom: 8px
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.top-left {
    top: 0;
    left: 0;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.z-12 {
    z-index: 12;;
}

.block {
    display: block;
}

.flexbox {
    display: flex;
}

.flexbox-direction-row {
    flex-direction: row;
}

.flexbox-direction-column {
    flex-direction: column;
}

.flexbox-align-start {
    align-items: flex-start;
}

.flexbox-centered {
    align-items: center;
    justify-content: center;
}

.flexbox-align-stretch {
    align-items: stretch;
}

.flexbox-align-center {
    align-items: center;
}

.flexbox-grow-1 {
    flex-grow: 1;
}

.box-shadow {
    box-shadow: rgba(29, 17, 17, 0.15) 0px 5px 12px;
}

.radius-small {
    border-radius: 4px;
}

.radius-large {
    border-radius: 8px;
}

.border-width-normal {
    border-width: 1px;
}

.no-border {
    border: 0 !important;
}

.border-solid {
    border-style: solid;
}

.border-color-shade-100 {
    border-color: #fff;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
}

.no-outline {
    outline: none !important;
}

.no-box-shadow {
    box-shadow: none !important;
}

.list-style-type-none {
    list-style-type: none;
}

.overflow-hidden {
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}